html, body {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(25deg, #56CCF2, #2F80ED);
    animation: bg 5s linear infinite alternate;
}

@keyframes bg {
    0% {
        background: #56CCF2;
    }
    100% {
        background: #2F80ED;
    }
}

.content {
    left: 10%;
    top: 10%;
    width: 80%;
    position: relative;
    z-index: 1;
}

h1.title {
    color: white;
    font-size: 3em;
    display: inline;
    font-weight: 500;
}

h1.title small {
    font-family: 'Wire One', sans-serif;
    font-size: 0.8em;
    opacity: 0.8;
}

h2 {
    font-family: 'Wire One', sans-serif;
    position: relative;
    width: 100%;
    font-size: 3em;
    color: #fff;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    border-top: 2px solid #fff;
    padding-top: 4px;
    margin-top: 16px;
    font-size: 1.5em;
    color: #fff;
}

h4 {
    color: #fff;
}

.contact {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 20px;
}

.contact li {
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 8px;
    margin-left: 8px;
    display: inline-block;
}

.contact li a {
    text-decoration: none;
    color: #F5F7FA;
    transition: color .2s;
}

.contact li a small,
.contact li a i {
    opacity: 0.8;
    font-size: 0.95em;
}

.contact li a i {
    font-size: 0.8em;
}

.contact li a:hover {
    color: #CCD1D9;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}
