{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "alpha-value-notation": "number",
    "color-function-notation": "legacy",
    "no-descending-specificity": null,
    "number-leading-zero": "never"
  }
}
